html, body {
  margin: 10px;
  padding: 10px;
  background-color: black;
  font-size: 12px;
}

h1 {
  color: red;
  margin-left: 0px;
  font-size:30px;
}
h2 {
  color:white;
  margin-left: 0px;
  font-size: 24px;
}

h3 {
  color:blue;
  margin-left: 0px;
  font-size: 24px;
}


#hash{
  color: yellow;
}

#winner{
  color: orange;
  font-size: 36px;
}
#winner-text{
  color: purple;
  font-size: 24px;
}

.bottom {
  position: absolute;
  color: whitesmoke;
  bottom: 20px;
  width:  25%;
  font-size:18px;
}
  img{
    padding: 5px;
    width: 35px;
  }

